<!DOCTYPE html>
<html>

<head>
    <style>
        p {
            font-size: 30px;
        }

        #top-title {
            width: 900px;
            height: 30px;
            padding: 5px;
            background-color: rgb(101, 184, 240)
        }
    </style>
    <title>
        INDEX PAGE
    </title>
</head>

<body>
    <div id="top-title">Branding</div>
    <h1> Flask Testing Page</h1>
    <h2>New Try</h2>
    <p>hello world!</p>
    <p>a new feature!</p>
    <h1>{{ headline }}</h1>

    <a href="{{ url_for('loop') }}">See more</a>
</body>

</html>